/dts-v1/;

#include "dove.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "SolidRun CuBox";
	compatible = "solidrun,cubox", "marvell,dove";

	memory {
		device_type = "memory";
		reg = <0x00000000 0x40000000>;
	};

	chosen {
		bootargs = "console=ttyS0,115200n8 earlyprintk";
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-0 = <&pmx_gpio_18>;
		pinctrl-names = "default";

		power {
			label = "Power";
			gpios = <&gpio0 18 1>;
			default-state = "keep";
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		usb_power: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "USB Power";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			regulator-always-on;
			regulator-boot-on;
			gpio = <&gpio0 1 0>;
			pinctrl-0 = <&pmx_gpio_1>;
			pinctrl-names = "default";
		};
	};

	clocks {
		/* 25MHz reference crystal */
		ref25: oscillator {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <25000000>;
		};
	};

	ir_recv: ir-receiver {
		compatible = "gpio-ir-receiver";
		gpios = <&gpio0 19 1>;
		pinctrl-0 = <&pmx_gpio_19>;
		pinctrl-names = "default";
	};
	spdif_codec: spdif-codec {		/* optical output */
		compatible = "linux,spdif-dit";
		port {
			port-type = "spdif";
			spdif_out: endpoint {
				remote-endpoint = <&audio1_spdif0>;
			};
		};
	};

	video {
		compatible = "marvell,dove-video";
		marvell,video-devices = <&lcd0>;
	};
};

&uart0 { status = "okay"; };
&sata0 { status = "okay"; };
&mdio { status = "okay"; };
&eth { status = "okay"; };

&ethphy {
	compatible = "marvell,88e1310";
	reg = <1>;
};

&i2c {
//	status = "okay";
	clock-frequency = <100000>;

	si5351: clock-generator {
		compatible = "silabs,si5351a-msop";
		reg = <0x60>;
		#address-cells = <1>;
		#size-cells = <0>;
		#clock-cells = <1>;

		/* connect xtal input to 25MHz reference */
		clocks = <&ref25>;
		clock-names = "xtal";

		/* connect xtal input as source of pll0 and pll1 */
		silabs,pll-source = <0 0>, <1 0>;

		clkout0 {
			reg = <0>;
			silabs,drive-strength = <8>;
			silabs,multisynth-source = <0>;
			silabs,clock-source = <0>;
			silabs,pll-master;
		};

		clkout2 {
			reg = <2>;
			silabs,drive-strength = <8>;
			silabs,multisynth-source = <1>;
			silabs,clock-source = <0>;
			silabs,pll-master;
		};
	};
	hdmi: hdmi-encoder {
		compatible = "nxp,tda998x";
		reg = <0x70>;
		interrupt-parent = <&gpio0>;
		interrupts = <27 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-0 = <&pmx_camera>;
		pinctrl-names = "default";
		#address-cells = <1>;
		#size-cells = <0>;
		port@230145 {
			port-type = "rgb";
			reg = <0x230145>;
			hdmi_0: endpoint {
				remote-endpoint = <&lcd0_0>;
			};
		};
		port@3 {			/* AP1 = I2S */
			port-type = "i2s";
			reg = <0x03>;
			tda998x_i2s: endpoint {
				remote-endpoint = <&audio1_i2s>;
			};
		};
	};
};

&sdio0 {
	status = "okay";
};

&spi0 {
	status = "okay";

	/* spi0.0: 4M Flash Winbond W25Q32BV */
	spi-flash@0 {
		compatible = "st,w25q32";
		spi-max-frequency = <20000000>;
		reg = <0>;
	};
};

&audio1 {
	status = "okay";
	clocks = <&gate_clk 13>, <&si5351 2>;
	clock-names = "internal", "extclk";
//	clocks = <&gate_clk 13>;
//	clock-names = "internal";
	pinctrl-0 = <&pmx_audio1_i2s1_spdifo &pmx_audio1_extclk>;
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;
	dt-audio-card,format = "i2s";
	port@0 {
		port-type = "spdif";
		audio1_spdif0: endpoint@0 {
			remote-endpoint = <&spdif_out>;
		};
	};
	port@1 {
		port-type = "i2s";
		audio1_i2s: endpoint {
			remote-endpoint = <&tda998x_i2s>;
		};
	};
};

&lcd0 {
	status = "okay";
	clocks = <&si5351 0>;
	clock-names = "ext_ref_clk1";
// (same as plldivider)
//	clocks = <&core_clk 3>;
//	clock-names = "axibus";
	port {
		lcd0_0: endpoint {
			remote-endpoint = <&hdmi_0>;
		};
	};
};
